[run]
omit = 
    *apps.py
    *migrations/*
    */settings/*,
    *urls.py,
    *wsgi.py,
    *asgi.py,
    manage.py
    */tests/*
    *__init__*
[report]
#fail_under = 100
show_missing = True
#skip_covered = True
